.round {
  position: relative;
}

.round label {
  height: 28px;
  width: 28px;
  background-color: #fff;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.round label::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 6px;
  border: 4px solid #fff;
  border-top: none;
  border-left: none;
  display: none;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -47%) rotate(45deg);
}

.round input:checked + label {
  background-color: #28a745;
  border: #28a745;
}

.round input:checked + label::after {
  display: block;
}
/* general styling */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: 0 auto;
}
