// css footer

footer {
  padding: 20px 0;
  background: $black-cl;
  color: #b0b0b0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .backtoptop {
    text-transform: uppercase;
    cursor: pointer;
    color: #b0b0b0;
  }

  @include xs {
  }
}
